#stats h3, h4 {
    text-align: center;
    width: 250px;
    max-height: 150px;
    margin-bottom: 10px;
    font-size: 18px;
}

#stats p{
    margin-bottom: 30px;
    text-align: center;
    width: 250px;
    max-height: 250px;
    font-size: 14px;
}


#stats .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#stats article{

margin: 20px;
align-items: center;
}


#stats img{
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 250px;
    height: 250px;

   
}

